@import url('./styles/root.css');

body {
  display: grid;
  grid-template-areas: 'a m' 'f f';
  grid-template-columns: var(--s-aside) 1fr;
  grid-template-rows: 1fr 1rem;
  height: 100dvh;
  font-size: .875rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(0 0 0 / 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: #fff4;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff6;
}
::-webkit-scrollbar-thumb:active {
  background-color: #fff5;
}

aside {
  grid-area: a;
  width: var(--s-aside);
  background-color: rgba(0 0 0 / 0.5);
  display: flex;
  flex-flow: column nowrap;
  padding: .25rem;
  gap: .25rem;
}
main {
  grid-area: m;
  max-height: 100dvh;
  overflow: auto;
  padding-inline: 0.5rem;
}
footer {
  grid-area: f;
  background-color: var(--c-bg2);
  line-height: 1;
  font-size: .75rem;
  padding: 0 .25rem;
  text-wrap: nowrap;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:not([href="#"], [role="button"]):hover {
  color: #24c8db;
}

button,
select,
a[role="button"],
label.input-group {
  position: relative;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: rgb(var(--cx1) / .625);
  transition: box-shadow 0.1s;
}
:is(button, select, a[role="button"], label.input-group):not(:disabled)::after {
  --b: linear-gradient(black, black);
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  border: 2px solid transparent;
  border-radius: inherit;
  background-image: linear-gradient(to bottom, hsl(271, 80%, 50%), hsl(29, 80%, 50%));
  opacity: 0;
  transition: opacity 0.2s;
  background-origin: border-box;
  -webkit-mask-image: var(--b), var(--b);
  -webkit-mask-clip: content, border;
  -webkit-mask-composite: xor;
  mask-image: var(--b), var(--b);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
}
:is(button, select, a[role="button"]):not(:disabled):hover::after {
  opacity: 0.875;
}
:is(button, select, a[role="button"]):not(:disabled):active::after {
  opacity: 0.75;
}

label.input-group > input {
  outline: none;
  border: none;
  background: none;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: inherit;
}
select {
  appearance: button;
  -webkit-appearance: button;
}
select > option {
  background-color: rgb(var(--cx1));
}

aside button, dialog button {
  background-color: #2f2f2fa0;
}

button:disabled {
  color: #fff8;
}

:is(button, select, a[role="button"]):not(:disabled):active {
  background-color: rgb(var(--cx1) / .4);
}
label.input-group:focus-within::after {
  opacity: 0.75;
}

button.btn-icon {
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-icon:empty::before {
  content: '';
  display: block;
}

[hidden] {
  display: none !important;
}

nav.actions {
  display: flex;
  align-items: center;
  gap: .25rem;
}

nav.pag button {
  padding: 0.25rem 0.5rem;
  line-height: 1;
  height: 1.5rem;
}
nav.pag button.p-prev::before, nav.pag button.p-next::before {
  content: '';
  display: inline-block;
}

h1 {
  margin-block: 0.75rem;
  font-size: 1.75rem;
}
h2 {
  margin-block: 0.5rem;
  font-size: 1.5rem;
}
h3 {
  margin-block: 0.5rem;
  font-size: 1.25rem;
}

p { margin-block: 0.25rem; }

dialog {
  border: 2px solid rgb(var(--cx1));
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 16rem;
}
dialog::backdrop {
  background-color: rgb(var(--cx1) / .5);
}
dialog > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
dialog nav:last-child {
  display: flex;
  align-items: center;
  justify-content: end;
}

.darken:not([hidden]) {
  background-color: rgb(var(--cx1) / .25);
  backdrop-filter: blur(4px);
}
.blurry {
  backdrop-filter: blur(4px);
}

img[is-broken] {
  display: none;
}
img:not([is-broken]) + span.img-error {
  display: none;
}

ul {
  padding: 0;
}
[popover] {
  margin: 0;
  background-color: var(--c-bg2);
  border: 2px solid var(--c-bg1);
}
[popover] button, [popover] a[role="button"] {
  background-color: transparent;
}

:is(.sort-none, .sort-asc, .sort-desc)::before {
  padding-inline-end: .25rem;
}
.sort-none::before {
  content: '\2195';
}
.sort-asc::before {
  content: '\2191';
}
.sort-desc::before {
  content: '\2193';
}

main .attop {
  --top-bg: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  min-height: 8rem;
  height: 100vh;
  mask: conic-gradient(from -0.25turn at 100% 0, #fff 50%, #000) luminance;
  background-color: var(--top-bg);
  transition: background-color 1s;
}